<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles/styles.css">
  <title>Document</title>
</head>
<body>
  <%- include('./header.ejs') %>
  <div class="gallery">
    <img src="../images/Vanilla-Birthday-Cake-.jpg" alt="Cake" class="gallery-pic">
    <img src="../images/cat-slogan.png" alt="Cake" class="gallery-pic">
    <img src="../images/sitting-brown-puppy-dog-logo-template_1051-3347.avif" alt="Cake" class="gallery-pic">
  
    <img src="../images/What-Is-a-Template.webp" alt="Cake" class="gallery-pic">
    <img src="../images/become-propane - Copy.png" alt="Cake" class="gallery-pic">
  </div>
</body>
</html>