<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs') %>
<div class="form-container">
    <form action="" id="login" class="login-form">
        <input type="email" name="" id="email" placeholder="Enter Email">
        <input type="password" name="" id="password" placeholder="Enter Password">
        <input type="submit" value="Login" class="log">
    </form>
</div>
</body>
</html>